<head>
  <link rel="stylesheet" href="https://unpkg.com" />
</head>

<body>
  <component type="typeof(MapDashboard)" render-mode="ServerPrerendered" />
  <script src="https://unpkg.com"></script>
  <script src="js/mapComponent.js"></script>
  <script src="_framework/blazor.server.js"></script>
</body>