@page "/"
@inject IJSRuntime JS
@inject NavigationManager NavManager
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.JSInterop;
@implements IAsyncDisposable

<div id="mapElement" style="height: 600px; width: 100%; border-radius: 8px;"></div>

@code {
    HubConnection? _hubConnection;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Initialize the Leaflet map layout
            await JS.InvokeVoidAsync("initMap");

            // Setup the SignalR WebSocket listener
            _hubConnection = new HubConnectionBuilder()
                .WithUrl(NavManager.ToAbsoluteUri("/mapHub"))
                .Build();

            // When the actor broadcasts data, immediately run the JS marker updater
            _hubConnection.On<object>("ReceiveLocation", async (vehicle) =>
            {
                await JS.InvokeVoidAsync("updateVehicleMarker", vehicle);
            });

            await _hubConnection.StartAsync();
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }
}